
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&family=Nanum+Myeongjo:wght@800&family=Nunito+Sans:ital,opsz,wght@0,6..12,500;1,6..12,200;1,6..12,300&family=Poppins:wght@100&family=Raleway:wght@300&display=swap');

.nav-color{
    background-color: #01042d;
}
/* hover zoom */
.carousel-inner img {
    transition: transform 0.3s ease;
  }

  .carousel-inner img:hover {
    transform: scale(1.04);
  }

/* /* Hover color  */

  .carousel-inner img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.carousel-inner:hover img {
	opacity: .9;
}

.carousel-inner {
    position: relative;
  }

  .carousel-inner img {
    height: 85.5vh; 
    object-fit: cover;
    background-position: bottom center;
  }